body {
    background-color:lightgrey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.inputBoxes {
    text-align: center;
}

img {
    display: flex;
    image-rendering: optimizeQuality;
    animation: float 3s ease-out infinite;
}

.logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    flex-direction: column;
	justify-content: center;
	align-items: center;

}

.video {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

button {
    text-align: center;
}

footer {
    text-align: center;
    text-decoration: underline;
}

#navbar{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#list{
    font-family: 'Courier New', Courier, monospace;
    text-decoration:double;
    text-align: left;
    color: lightgrey;
}

nav{
    background-color: hsl(198, 68%, 17%);
    padding: 10px;
    overflow: hidden;
}

nav a{
    
    color: lightgrey;
    padding: 2px 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover{
    background-color: hsl(199, 42%, 27%);
}


@keyframes float {
	50% {
		transform: translatey(60px);
	}
}



@keyframes shrink {
    0%{ width : 50% }
    50%{ width : 30% } 
    100%{width : 50% }
}


