h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    display: flex;
    image-rendering: optimizeQuality;
}

label {
    text-align: center;
}

.logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;

}

.video {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

button {
    text-align: center;
}

li {
    text-align: center;
    color: white;
}

