h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    display: flex;
    image-rendering: optimizeQuality;
    animation: float 3s ease-out infinite;
}

label {
    display: flex;
    text-align: left;    
}

.logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    flex-direction: column;
	justify-content: center;
	align-items: center;

}

.video {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

button {
    text-align: center;
}

footer {
    text-align: center;
    text-decoration: underline;
}

#navbar{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#list{
    font-family: 'Courier New', Courier, monospace;
    text-decoration:double;
    text-align: left;
    text-shadow: #ccc;
    color: dimgrey;
}

nav{
    background-color: lightgrey;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover{
    background-color: #ccc;

}




@keyframes float {
	50% {
		transform: translatey(60px);
	}
}

#shadow {
    position: absolute;
    width: 200px;
    height: 20px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 3);
    border-radius: 50%;
    filter: blur(3px);
    animation: shrink 3s ease-out infinte;
}

@keyframes shrink {
    0%{width : 50%}
    50%{width : 30%}
    100%{width : 50%}
}


